---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  {% endcomment %}
  {% if page.permalink == '/publications/' %}
    {% assign posts = site.publications | reverse %}
  {% elsif page.permalink == '/talks/' %}
    {% assign posts = site.talks | reverse %}
  {% elsif page.permalink == '/teaching/' %}
    {% assign posts = site.teaching | reverse %}
  {% elsif page.permalink == '/portfolio/' %}
    {% assign posts = site.portfolio | reverse %}
  {% elsif page.permalink == '/research/' %}
    {% assign posts = site.research | reverse %}
  {% else %}
    {% assign posts = site.posts | reverse %}
  {% endif %}
  
  {% endcomment %}
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
  </div>
</div>
